@font-face {
    font-family: 'determinationmono';
    font-style: normal;
    src: url(/fonts/DeterminationMonoWeb-latin.woff2) format('woff2');
} /*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

@font-face {
    font-family: 'mercy';
    font-style: normal;
    src: url(/fonts/mercy6.ttf) format('truetype');
}

@font-face {
    font-family: 'hp';
    font-style: normal;
    src: url(/fonts/hp-font.ttf) format('truetype');
}

@font-face {
    font-family: 'mars';
    font-style: normal;
    src: url(/fonts/Mars_Needs_Cunnilingus.ttf) format('truetype');
} /*What kind of name is that, like who tf named this font and most importantly why*/

@font-face {
    font-family: 'monsterb';
    font-style: normal;
    src: url(/fonts/MonsterFriend2Back.woff2) format('woff2');
}

@font-face {
    font-family: 'monsterf';
    font-style: normal;
    src: url(/fonts/MonsterFriend2Fore.woff2) format('woff2');
}

@font-face {
    font-family: 'monsterc';
    font-style: normal;
    src: url(/fonts/MonsterFriend2Center.woff2) format('woff2');
}

* {
    font-weight: normal;
}

body {
    background-color: black;
    color: white;
    max-width: 60em;
    margin: 0 auto 2em auto;
    font-size: min(3vw, 1rem);
    padding: 0 5vw;
    height: 100%;
}

.box {
    border: 0.25em solid white;
    min-height: 6em;
    padding: 0.5em 0.7em 0.7em;
    font-family: "determinationmono";
    font-size: 1.5em;
}

.box * {
    margin-top: 0;
    margin-bottom: 0em;
    line-height: 1.2em;
}

#list li {
    text-transform: lowercase;
}

#list li::first-letter {
    text-transform: uppercase;
}

ul {
    padding-left: 0;
    margin-left: 0.8em;
}

li {
    padding-left: 0.5em;
    list-style: "*";
}

header {
    text-align: center;
    margin: 2em 0;
}

header #title {
    font-size: 3em;
}

header #date {
    text-align: right;
    font-size: 1.2em;
}

#title,
#date {
    display: grid;
}

#title span,
#title::before,
#title::after,
#date span,
#date::before,
#date::after {
    grid-area: 1 / 1;
}

#title span,
#date span {
    font-family: "monsterf";
    z-index: 1;
}

#title::before,
#date::before {
    content: attr(attr-text);
    font-family: "monsterb";
    color: #848484;
}

#title::after {
    content: attr(attr-text);
    font-family: "monsterc";
    color: #FF0000;
}

/*hud*/
#hud {
    margin: 1em 0;
    display: flex;
    padding-top: 0.3em;
    height: 2em;
    align-items: center;
    justify-content: baseline;
    position: relative;
    font-size: min(1em, 1.5vw);
}

#hud-text, #hud-text2, #hud-lv {
    font-family: "mars";
    font-size: 2.5em;
    margin: 0;
}

#hud-text2 {
    margin-left: 0.6em;
    /*or 1.5rem*/
}

#hud-lv {
    margin-left: 1.12em;
    /*or 2.8rem*/
}

#hud-right {
    display: flex;
    align-items: center;
    position: absolute;
    left: 22.2em;
}

#hud-hp, #hud-kr {
    font-family: "hp";
    margin-top: -0.3em;
    font-size: 1em;
    margin-right: -0.3em;
}

#hud-kr {
    margin-right: 0;
    margin-left: 1em;
    display: none;
}

#hud-hpbar {
    min-width: 2.5em;
    height: 2.3em;
    background: #FFFF00;
    margin: -0.3em 0 0 1em;
}

/* buttons */
footer {
    color: #FF7F27;
    display: flex;
    font-family: "mercy";
    justify-content: space-between;
    box-sizing: border-box;
    flex-flow: row wrap;
    font-size: min(1.5vw, 1em);
}

footer div {
    margin-top: -0.1em;
}

footer a {
    border: 0.08em solid #F37C33;
    padding-left: 0.2em;
    font-size: 3.25em;
    max-width: 3em;
    min-width: 3em;
}

footer a:hover,
footer a:focus-visible,
footer a.selected {
    border-color: #FFFF00;
    color: #FFFF00;
}

footer a.selected div>span:first-child {
    color: #ff0000;
}

footer a div>span:last-child {
    display: inline-block;
    transform-origin: left;
}

footer a:nth-child(1) div>span:last-child { transform: scaleX(1.05) }
footer a:nth-child(2) div>span:last-child { transform: scaleX(1.15) }
footer a:nth-child(3) div>span:last-child { transform: scaleX(1.1) }
footer a:nth-child(4) div>span:last-child { transform: scaleX(1.1) }

a:link,
a:active,
a:visited {
    color: #F37C33;
    text-decoration: none;
}

a:hover,
a:focus-visible {
    color: #FFFF00;
}

/*Error 404 page*/
#err {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 5.5em;
}

#err-bruh {
    font-family: "determinationmono";
    font-size: 0.4em;
    line-height: 0;
}