<!DOCTYPE html>
<html lang="en">
    <link rel="icon" href="/flowey16x16.ico" type="image/x-icon" sizes="16x16"/>
    <link rel="icon" href="/flowey32x32.ico" type="image/x-icon" sizes="32x32"/>
<head>
  <meta charset="utf-8">
  <title>Bruh moment</title>
  <link href="/main.css" rel="stylesheet">
</head>
<body>
    <div id="err">
        <div id="err-inner">
            <div id="title" attr-text="errOr 404">
                <span>errOr 404</span>
            </div>
            <div id="err-bruh">
                <p>Ewidentnie coś zawiodło</p>
            </div>
        </div>
    </div>
</body>